build/
build-*/
cmake-build-*/
*.log
data/
recording_test_storage/
segment_recorder_test_storage/
hls_server_test_storage/
recording_maintenance_test_storage/
.idea/
.vscode/
.env
.env.*
!.env.example
client.ini
*.pem
*.p12
*.pfx
*.key
client/.qmake.stash
client/Makefile*
client/.qmake.cache
client/*.pro.user
client/debug/
client/release/
